<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>{{'employee.name' | translate}}</th>
            <th>{{'employee.surname' | translate}}</th>
            <th>{{'employee.oib' | translate}}</th>
            <th>{{'employee.email' | translate}}</th>
            <ng-container *ngIf="userService.isRoleAdmin()">
            <th>{{'employee.delete' | translate}}</th>
            <th>{{'employee.update' | translate}}</th>
            </ng-container>
            <th>{{'employee.details' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.oib}}</td>
            <td>{{employee.email}}</td>
            <ng-container *ngIf="userService.isRoleAdmin()">
            <td><button  (click)="deleteEmployee(employee)" class="btn btn-danger">{{'button.delete' | translate}}</button></td>
            <td> <button (click)="updateEmployee(employee)"  class="btn btn-info" style="margin-left: 10px">{{'button.update' | translate}}</button></td>
            </ng-container>
            <td> <button (click)="navigateToDetail(employee)" class="btn btn-info" style="margin-left: 10px">{{'button.detail' | translate}}</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
