<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Oib</th>
            <th>Email</th>
            <th>Delete</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.surname}}</td>
            <td>{{employee.oib}}</td>
            <td>{{employee.email}}</td>
            <td><button (click)="deleteEmployee(employee)" class="btn btn-danger">Delete</button></td>
            <td> <button  class="btn btn-info" style="margin-left: 10px">Update</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
