<form #typeForm="ngForm">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{'type.newH1' | translate}}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="name">{{'type.tableHeader' | translate}}</label>
                <input id="name" [(ngModel)]="type.name" name="name" type="text"
                 class="form-control" placeholder="{{'type.tableHeader' | translate}}"/>
            </div>
        </div>
        <div class="panel-footer">
            <div class="float-right">
                <button routerLink="/home" class="btn btn-outline-secondary mr-4"
                    type="button">{{'button.cancle' | translate}}</button>
                <button (click)="createNewType()" class="btn btn-success"
                    type="button">{{'button.save' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>
