<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ asset?.name }}</h1>
</div>
<div>
    <table class="table">
      <tbody>
        <tr>
          <td>{{'asset.serialNumber' | translate}}</td>
          <td>{{ asset?.serialNumber }}</td>
        </tr>
        <tr>
          <td>{{'asset.productNumber' | translate}}</td>
          <td>{{ asset?.productNumber }}</td>
        </tr>
        <tr>
          <td>{{'asset.typeId' | translate}}</td>
            <td>{{ asset?.typeId }}</td>
          </tr>
          <tr>
            <td>{{'asset.dateOfPurchase' | translate}}</td>
            <td>{{ asset?.dateOfPurchase | date:"medium" }}</td>
          </tr>
          <tr>
            <td>{{'asset.status' | translate}}</td>
            <td>{{ asset?.status }}</td>
          </tr>
          <tr>
            <td>{{'asset.dateOfDisposal' | translate}}</td>
            <td>{{ asset?.dateOfDisposal | date:"medium" }}</td>
          </tr>
      </tbody>
    </table>
  </div>
  <button (click)="backClicked()" type="button" class="btn btn-primary btn-sm">Back</button>
