<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">OIB: {{ employee?.oib }}</h1>
</div>
<div>
    <table class="table">
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ employee?.name }}</td>
        </tr>
        <tr>
          <td>Surname</td>
          <td>{{ employee?.surname }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ employee?.email }}</td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>{{ employee?.date_of_birth | date:"medium" }}</td>
          </tr>
          <tr>
            <td>Role</td>
            <td>{{ employee?.role }}</td>
          </tr>
          <tr>
            <td>Date of Employment</td>
            <td>{{ employee?.date_of_employment | date:"medium" }}</td>
          </tr>
      </tbody>
    </table>
  </div>
  <button (click)="backClicked()" type="button" class="btn btn-primary btn-sm">Back</button>