<div class="container">
    <div class="card-body">
        <form #assetForm="ngForm">
            <div class="form-group">
                <label>{{'employee.name' | translate}}</label>
                <input [(ngModel)]="employee.name" type="text" class="form-control" id="name" name="name"
                    placeholder="name" required>
            </div>
            <div class="form-group">
                <label>{{'employee.surname' | translate}}</label>
                <input [(ngModel)]="employee.surname" type="text" class="form-control" id="surname" name="surname"
                    placeholder="surname">
            </div>
            <div class="form-group">
                <label>Oib</label>
                <input [(ngModel)]="employee.oib" type="text" class="form-control" id="oib" name="oib"
                    minlength="11" maxlength="11" placeholder="oib" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input [(ngModel)]="employee.email" type="text" class="form-control" id="email" name="email"
                     maxlength="20" placeholder="email">
            </div>
            <div class="form-group">
                <label>{{'employee.dateOfBirth' | translate}}</label><br/>
                <input [(ngModel)]="employee.date_of_birth"  type="date" id="dateOfPurchase" name="dateOfPurchase">
            </div>    
            <div class="form-group">
                <label>{{'employee.department' | translate}}</label>
                <input [(ngModel)]="employee.department" type="text" class="form-control" id="department" name="department"
                        maxlength="10" placeholder="status">
            </div>
            <div class="form-group">
                <label>{{'employee.role' | translate}}</label><br/>
                <input [(ngModel)]="employee.role" type="text" class="form-control" id="role" name="role"
                    maxlength="10" placeholder="role" required>
            </div>
                <label>{{'employee.dateOfEmployment' | translate}}</label><br/>
                <input [(ngModel)]="employee.date_of_employment"  type="date" id="dateOfEmployee" name="dateOfEmployee">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        <button routerLink="/home/employee" class="btn btn-outline-secondary mr-4"
                            type="button">{{'button.cancle' | translate}}</button>
                        <button (click)="update()" class="btn btn-success"
                            type="button">{{'button.save' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
